.text {
    color:green;
    display: block;
}

.fullbox {
  background-color:lightgoldenrodyellow;
    border: solid 1px aqua;
    border-radius: 1em;
  }
  
  .text-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }  